<main>
       <!-- Page table of contents -->
       <div class="sidetoc">
        <nav class="pagetoc">
        </nav>
       </div>
       <h1 id="hiding-things">
        <a class="header" href="#hiding-things">
         Hiding things
        </a>
       </h1>
       <div style="margin-bottom: 0.5em">
        <pre style="margin: 0"><code class="language-typ hljs"><span style="color:#586e75;">// author: GeorgeMuscat
</span><span style="color:#859900;">#let redact</span><span style="color:#657b83;">(</span><span style="color:var(--fg);">text, </span><span style="color:#268bd2;">fill</span><span style="color:var(--fg);">: black, </span><span style="color:#268bd2;">height</span><span style="color:var(--fg);">: </span><span style="color:#6c71c4;">1em</span><span style="color:#657b83;">) </span><span style="color:#859900;">= </span><span style="color:#657b83;">{
</span><span style="color:var(--fg);">  </span><span style="color:#859900;">box</span><span style="color:#657b83;">(</span><span style="color:#859900;">rect</span><span style="color:#657b83;">(</span><span style="color:#268bd2;">fill</span><span style="color:var(--fg);">: fill, </span><span style="color:#268bd2;">height</span><span style="color:var(--fg);">: height</span><span style="color:#657b83;">)[</span><span style="color:#b58900;">#hide</span><span style="color:#657b83;">(</span><span style="color:var(--fg);">text</span><span style="color:#657b83;">)])
</span><span style="color:#657b83;">}
</span><span style="color:var(--fg);">
</span><span style="color:var(--fg);">Example:
</span><span style="color:var(--fg);">  - Unredacted text
</span><span style="color:var(--fg);">  - Redacted </span><span style="color:#b58900;">#redact</span><span style="color:#657b83;">(</span><span style="color:#839496;">"</span><span style="color:#2aa198;">text</span><span style="color:#839496;">"</span><span style="color:#657b83;">)</span></code></pre>
        <div style="
                        text-align: center;
                        padding: 0.5em;
                        background: var(--quote-bg);
                        ">
         <img align="middle" alt="Rendered image" src="typst-img/6b85fdf4b9ba387543271058b6acb27e202dab93b01c2cd7ac93187c1e8b643c-1.svg" style="
                        background: white;
                        max-width: 500pt;
                        width: 100%;
                    "/>
        </div>
       </div>
      </main>