<main>
       <!-- Page table of contents -->
       <div class="sidetoc">
        <nav class="pagetoc">
        </nav>
       </div>
       <h1 id="page-setup">
        <a class="header" href="#page-setup">
         Page setup
        </a>
       </h1>
       <blockquote>
        <p>
         See
         <a href="https://typst.app/docs/guides/page-setup-guide/">
          Official Page Setup guide
         </a>
        </p>
       </blockquote>
       <div style="margin-bottom: 0.5em">
        <pre style="margin: 0"><code class="language-typ hljs"><span style="color:#859900;">#set page</span><span style="color:#657b83;">(
</span><span style="color:var(--fg);">  </span><span style="color:#268bd2;">width</span><span style="color:var(--fg);">: </span><span style="color:#6c71c4;">3cm</span><span style="color:var(--fg);">,
</span><span style="color:var(--fg);">  </span><span style="color:#268bd2;">margin</span><span style="color:var(--fg);">: </span><span style="color:#657b83;">(</span><span style="color:var(--fg);">x: </span><span style="color:#6c71c4;">0cm</span><span style="color:#657b83;">)</span><span style="color:var(--fg);">,
</span><span style="color:#657b83;">)
</span><span style="color:var(--fg);">
</span><span style="color:#859900;">#for</span><span style="color:var(--fg);"> i </span><span style="color:#859900;">in range</span><span style="color:#657b83;">(</span><span style="color:#6c71c4;">3</span><span style="color:#657b83;">) {
</span><span style="color:var(--fg);">  </span><span style="color:#859900;">box</span><span style="color:#657b83;">(</span><span style="color:#859900;">square</span><span style="color:#657b83;">(</span><span style="color:#268bd2;">width</span><span style="color:var(--fg);">: </span><span style="color:#6c71c4;">1cm</span><span style="color:#657b83;">))
</span><span style="color:#657b83;">}</span></code></pre>
        <div style="
                        text-align: center;
                        padding: 0.5em;
                        background: var(--quote-bg);
                        ">
         <img align="middle" alt="Rendered image" src="typst-img/6a1e9261d0b0bcd09b578e8361c939100328fbccfd8289402ad62f768b55a0c1-1.svg" style="
                        background: white;
                        max-width: 500pt;
                        width: 100%;
                    "/>
        </div>
       </div>
       <div style="margin-bottom: 0.5em">
        <pre style="margin: 0"><code class="language-typ hljs"><span style="color:#859900;">#set page</span><span style="color:#657b83;">(</span><span style="color:#268bd2;">columns</span><span style="color:var(--fg);">: </span><span style="color:#6c71c4;">2</span><span style="color:var(--fg);">, </span><span style="color:#268bd2;">height</span><span style="color:var(--fg);">: </span><span style="color:#6c71c4;">4.8cm</span><span style="color:#657b83;">)
</span><span style="color:var(--fg);">Climate change is one of the most
</span><span style="color:var(--fg);">pressing issues of our time, with
</span><span style="color:var(--fg);">the potential to devastate
</span><span style="color:var(--fg);">communities, ecosystems, and
</span><span style="color:var(--fg);">economies around the world. It's
</span><span style="color:var(--fg);">clear that we need to take urgent
</span><span style="color:var(--fg);">action to reduce our carbon
</span><span style="color:var(--fg);">emissions and mitigate the impacts
</span><span style="color:var(--fg);">of a rapidly changing climate.</span></code></pre>
        <div style="
                        text-align: center;
                        padding: 0.5em;
                        background: var(--quote-bg);
                        ">
         <img align="middle" alt="Rendered image" src="typst-img/2b0351806e86c3410f445beb2a51887aebd3f73649e2fe638ba45a39026284dd-1.svg" style="
                        background: white;
                        max-width: 500pt;
                        width: 100%;
                    "/>
        </div>
       </div>
       <div style="margin-bottom: 0.5em">
        <pre style="margin: 0"><code class="language-typ hljs"><span style="color:#859900;">#set page</span><span style="color:#657b83;">(</span><span style="color:#268bd2;">fill</span><span style="color:var(--fg);">: </span><span style="color:#859900;">rgb</span><span style="color:#657b83;">(</span><span style="color:#839496;">"</span><span style="color:#2aa198;">444352</span><span style="color:#839496;">"</span><span style="color:#657b83;">))
</span><span style="color:#859900;">#set text</span><span style="color:#657b83;">(</span><span style="color:#268bd2;">fill</span><span style="color:var(--fg);">: </span><span style="color:#859900;">rgb</span><span style="color:#657b83;">(</span><span style="color:#839496;">"</span><span style="color:#2aa198;">fdfdfd</span><span style="color:#839496;">"</span><span style="color:#657b83;">))
</span><span style="font-weight:bold;color:var(--fg);">*Dark mode enabled.*</span></code></pre>
        <div style="
                        text-align: center;
                        padding: 0.5em;
                        background: var(--quote-bg);
                        ">
         <img align="middle" alt="Rendered image" src="typst-img/340892f7237f4bc864f9ca9dc5fd956fe4032a157a373e0bb4b7358200daa72e-1.svg" style="
                        background: white;
                        max-width: 500pt;
                        width: 100%;
                    "/>
        </div>
       </div>
       <div style="margin-bottom: 0.5em">
        <pre style="margin: 0"><code class="language-typ hljs"><span style="color:#859900;">#set par</span><span style="color:#657b83;">(</span><span style="color:#268bd2;">justify</span><span style="color:var(--fg);">: </span><span style="color:#b58900;">true</span><span style="color:#657b83;">)
</span><span style="color:#859900;">#set page</span><span style="color:#657b83;">(
</span><span style="color:var(--fg);">  </span><span style="color:#268bd2;">margin</span><span style="color:var(--fg);">: </span><span style="color:#657b83;">(</span><span style="color:var(--fg);">top: </span><span style="color:#6c71c4;">32pt</span><span style="color:var(--fg);">, bottom: </span><span style="color:#6c71c4;">20pt</span><span style="color:#657b83;">)</span><span style="color:var(--fg);">,
</span><span style="color:var(--fg);">  </span><span style="color:#268bd2;">header</span><span style="color:var(--fg);">: </span><span style="color:#657b83;">[
</span><span style="color:var(--fg);">    </span><span style="color:#859900;">#set text</span><span style="color:#657b83;">(</span><span style="color:#6c71c4;">8pt</span><span style="color:#657b83;">)
</span><span style="color:var(--fg);">    </span><span style="color:#b58900;">#smallcaps</span><span style="color:#657b83;">[</span><span style="color:var(--fg);">Typst Academcy</span><span style="color:#657b83;">]
</span><span style="color:var(--fg);">    </span><span style="color:#b58900;">#h</span><span style="color:#657b83;">(</span><span style="color:#6c71c4;">1fr</span><span style="color:#657b83;">) </span><span style="font-style:italic;color:var(--fg);">_Exercise Sheet 3_
</span><span style="color:var(--fg);">  </span><span style="color:#657b83;">]</span><span style="color:var(--fg);">,
</span><span style="color:#657b83;">)
</span><span style="color:var(--fg);">
</span><span style="color:#b58900;">#lorem</span><span style="color:#657b83;">(</span><span style="color:#6c71c4;">19</span><span style="color:#657b83;">)</span></code></pre>
        <div style="
                        text-align: center;
                        padding: 0.5em;
                        background: var(--quote-bg);
                        ">
         <img align="middle" alt="Rendered image" src="typst-img/bfb28329922a1eb129dd2c7d7003dcfa30ebdc119265f19f8190b69d3e40ff68-1.svg" style="
                        background: white;
                        max-width: 500pt;
                        width: 100%;
                    "/>
        </div>
       </div>
       <div style="margin-bottom: 0.5em">
        <pre style="margin: 0"><code class="language-typ hljs"><span style="color:#859900;">#set page</span><span style="color:#657b83;">(</span><span style="color:#268bd2;">foreground</span><span style="color:var(--fg);">: </span><span style="color:#859900;">text</span><span style="color:#657b83;">(</span><span style="color:#6c71c4;">24pt</span><span style="color:#657b83;">)[</span><span style="color:var(--fg);">🥸</span><span style="color:#657b83;">])
</span><span style="color:var(--fg);">
</span><span style="color:var(--fg);">Reviewer 2 has marked our paper
</span><span style="color:var(--fg);">"Weak Reject" because they did
</span><span style="color:var(--fg);">not understand our approach</span><span style="color:#cb4b16;">...</span></code></pre>
        <div style="
                        text-align: center;
                        padding: 0.5em;
                        background: var(--quote-bg);
                        ">
         <img align="middle" alt="Rendered image" src="typst-img/b88eae1fcb87b110e66ee6493c60c2c3e0d0c9a7f1c288e739bf1bb8e09c8d70-1.svg" style="
                        background: white;
                        max-width: 500pt;
                        width: 100%;
                    "/>
        </div>
       </div>
      </main>